S3method(ggScatter,default)
S3method(ggScatter,formula)
S3method(ggEffect,default)
S3method(ggEffect,formula)
S3method(ggEffect,lm)
S3method(ggAncova,default)
S3method(ggAncova,lm)
S3method(ggAncova,formula)
S3method(ggErrorBar,formula)
S3method(ggErrorBar,default)
S3method(ggCatepillar,formula)
S3method(ggCatepillar,default)
export(ggScatter)
export(makeEquation)
export(ggPair)
export(ggPairLong)
export(ggChoropleth)
export(theme_clean)
export(num2cut)
export(summarySE)
export(ggBar)
export(ggRose)
export(ggHeatmap)
export(ggSpine)
export(ggAncova)
export(ggEffect)
export(ggErrorBar)
export(ggCatepillar)
export(ggRadar)
export(ggDonut)
export(ggPieDonut)
export(subcolors)
export(human_numbers)
export(human_gbp)
export(human_usd)
export(human_euro)
export(human_num)
export(human_num2)
export(get_popdata)
export(ggBidirectionalBar)
export(ggBidirectionalBar2)
export(multiggplot)
export(PopPyramid)
export(ggHSD)
export(num2cut)
export(ggCor)
export(ggBoxplot)


importFrom("grDevices", "col2rgb", "rainbow", "rgb")
importFrom("plyr","ddply","summarize","round_any")
importFrom("reshape2","melt")
importFrom("scales","comma")
importFrom("mycor","mycor")
importFrom("stats", "as.formula", "lm", "qt", "quantile", "sd","formula")
importFrom("ggplot2","ggplot","aes_string","aes","coord_flip","annotate","position_dodge",
           "theme_bw","theme","element_blank","scale_fill_brewer","scale_y_continuous",
           "guides","guide_legend","xlab","ylab","alpha","scale_x_continuous","ggtitle",
           "geom_errorbar","coord_polar","xlim","ylim","%+replace%","theme_grey","unit",
           "geom_text","coord_munch","geom_segment","ggproto","expand_limits",
           "element_text","facet_grid","geom_hline","rel","geom_point","geom_smooth")
importFrom("ggiraph","ggiraph","geom_rect_interactive","geom_path_interactive",
           "geom_point_interactive","geom_polygon_interactive","geom_map_interactive",
           "geom_boxplot_interactive")
importFrom("plotly","ggplotly")
importFrom("stats", "terms")
importFrom("XML","readHTMLTable")
importFrom("grid","viewport")
